<div class="w-full h-screen font-[inter] overflow-hidden">
	<main class="h-full grid grid-cols-2 items-center gap-20">
		<div class="flex flex-col items-center">
			<div>
				<h1 class="text-6xl">hooper*</h1>
				<section class="flex text-sm gap-3 pt-2">
					<a href="/hooper/">home</a>
					<a href="/hooper/about">about</a>
					<a href="/hooper/examples">examples</a>
					<a href="https://github.com/icomey8/hooper">github</a>
				</section>
			</div>
		</div>
		<div class="grid grid-rows-3 w-5/6 gap-4 pr-8">
			<div class="flex items-end">
				<h1 class="text-4xl">About</h1>
			</div>
			<div class="flex flex-col gap-3 row-span-2">
				<h2 class="text-base">
					Inspired by our love of basketball and how creative it can be in all
					aspects of the sport, we're setting out to create a JavaScript-like
					language with some tweaks on syntax, structure, and concurrency.
				</h2>

				<h2 class="text-base">
					When it comes to concurrency, we're especially interested in exploring
					its inner workings to better understand the event-driven loop.
				</h2>
				<h2>
					To make the language more fun and engaging, we've incorporated
					basketball-related terminology—something fellow fans might appreciate.
				</h2>
			</div>
			<div class="opacity-50 italic text-xs">
				<h2>Ian Comey is a senior CS major at LMU.</h2>
				<h2>Jaime Quiogue is a junior CS major at LMU.</h2>
			</div>
		</div>
	</main>
</div>
