---
import { Code } from "astro:components";
import CodeExamples from "./CodeExamples.astro";
---

<div class="w-full h-screen font-[inter] overflow-hidden">
	<main class="h-full grid grid-cols-2 items-center gap-20">
		<div class="flex flex-col items-center">
			<div>
				<h1 class="text-6xl">hooper*</h1>
				<section class="flex text-sm gap-3 pt-2">
					<a href="/hooper/">home</a>
					<a href="/hooper/about">about</a>
					<a href="/hooper/examples">examples</a>
					<a href="https://github.com/icomey8/hooper">github</a>
				</section>
			</div>
		</div>
		<div class="grid grid-rows-[auto_1fr] w-7/8 gap-6 pr-8">
			<div class="flex items-end">
				<h1 class="text-4xl">Examples</h1>
			</div>
			<CodeExamples />
		</div>
	</main>
</div>
