---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div class="w-full h-screen font-[inter]">
	<main class="h-full flex justify-center items-center gap-6">
		<div class="flex flex-col gap-3">
			<h1 class="text-6xl">hooper</h1>
			<section class="flex text-sm gap-4">
				<a class="button" href="https://docs.astro.build">About</a>
				<a href="https://astro.build/chat">Examples</a>
				<a href="https://astro.build/chat">Github</a>
			</section>
		</div>
		<img src="/src/assets/bballtest2.png" alt="" />
	</main>
</div>
